@{
  Layout = "_Layout";
}

@model BestRestaurant.Models.Restaurant

<h2>Delete Restaurant</h2>

@Html.DisplayFor(model => model.Name)
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" class="btn btn-danger" />
}