@{
  Layout = "_Layout";
}

@using (Html.BeginForm())
{
  <div class="form-group">
    <label for="name">Restaurant Name</label>
    <input id="name" name="name" type="text" class="form-control" />
  </div>
  <div class="form-group">
    <label for="cuisine">Cuisine Type</label>
    <input id="cuisine" name="cuisine" type="text" class="form-control" />
  </div>
  <input type="submit" value="Search" class="btn btn-info" />
}