@{
  Layout = "_Layout"
}

@using BestRestaurant.Models;
@model BestRestaurant.Models.Category

<h4>Cuisine Details</h4>
<hr />
<p><strong><center>@Html.DisplayFor(model => model.Name)</center></strong></p>

<ul>
@foreach (Restaurant restaurant in @Model.Restaurants)
{
  <li>@Html.ActionLink($"{restaurant.Name}", "Details", "Restaurants", new { id = restaurant.RestaurantId })</li>
}
</ul>

