@{
  Layout = "_Layout";
}
<img class="float-right" src="~/img/icon.png" />
<div class="text-box">
  <p>Welcome to the Best Restaurants database! Here we have information on the finest restaurants, sorted by cuisine type, so you can get whatever you're hungry for!</p>
  <p>But the best part of Best Restaurants is that it's open source! Love a cuisine that's not in our database! Add it in! Know a cool restaurant? Add it in! Share your culinary tastes with the World!</p>
</div>